
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-2">
        <div class="panel panel-primary" style="border-color: #222; background-color: aliceblue;">
            <ul class="navbar-btn"></ul>
        </div>
    </div>
    <div class="col-md-10"> </div>
</div>

