@model PersonalBanking.PresentationMVC.RouteConfig

@{
    ViewBag.Title = "Index";
}


<div style="background: aliceblue; margin-top: 3%;border:1px solid black;">
    <div class="center-block row text-center">
        <h1>WHY ONLINE BANKING?</h1>
    </div>
    <div>
        <img class="center-block" style="width: 100%; height: auto;" src="~/Images/onlineBanking.jpg" />
    </div>

    <div class="text-center">
        <h3 style="padding-left: 20px;padding-right: 20px">Access your bank accounts 24/7, 365 days a year. It’s the quick and easy way to keep track of your money, make payments and see your statements.</h3>
    </div>
    <div class="text-left" style="margin-right: 20px">
        <ol>Safe - all our registered customers are covered by our fraud guarantee</ol>
        <ol>Secure - you can be confident we are protecting you online</ol>
        <ol>Simple - move money and pay bills in a few simple clicks.</ol>
        <ol>
            There’s so much you can do with Internet Banking. You can even go paperless and keep your statements in one secure place.
            Plus by regularly keeping track of your accounts you can be more aware of any suspicious activity.
        </ol>
    </div>
</div>

